/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #19647E;
    background-color: #040707;
    margin: 0 auto;
}
.formBox {
    border: 3px solid #19647E;
}
section {
    margin: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input, select, textarea {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}
#buttons input {
	width: 7em;
}
fieldset {
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: #fdc323;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
.formBoxTitle {
	color: #fdc323;
    margin-top: .25em;
    margin-left: 1em;
}
input:required:invalid {
    background-image: url(../images/required.png);
    background-position: right top;
    background-repeat: no-repeat;
}

input:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input:required:valid {
    background-image: url(../images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}