
.gallery{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #040707;
}
.slideshow{
  position: relative;
  background: #040707;
  width: 800px;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.slideshow .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.slideshow .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}
.slideshow .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow .slide .caption{
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1, 1, 1 / 5%);
}
.slideshow .slide .caption h2{
  color: #222;
  font-size: 2em;
  font-weight: 700;
}
.slideshow .slide .caption p{
  font-size: 1em;
  font-weight: 400;
}
.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slideshow:hover .navigation{
  opacity: 1;
}
.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
}
.navigation-visibility .slide-icon.active{
  background: #19647e;
}
@media (max-width:900px){
  .slideshow{
    width: 100%;
  }
  .slideshow .slide .caption{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:500px){
  .slideshow .slide .caption h2{
    font-size: 1.8em;
    line-height: 40px;
  }
  .slideshow .slide .caption p{
    font-size: .9em;
  }
}